<nav class="navbar navbar-expand-lb navbar-light bg-light mb-3">
    <div class="container">
      <div class="navbar-brand">내 홈페이지</div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item"><a href="/homepage/" class="nav-link">Home</a></li>
          <li class="nav-item"><a href="/homepage/about" class="nav-link">About</a></li>
          <li class="nav-item"><a href="/homepage/posts" class="nav-link">Board</a></li>
        </ul>
      </div>
    </div>
  </nav>