<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head2') %>
    </head>
    <body>
        <%- include('../partials/nav2') %>

        <div class="container mb-3">
            <div class="jumbotron">
                <h1 class="display-4">홈페이지에 오신걸 환영합니다.</h1>
                <p>홈페이지 만들기 가즈아~</p>
            </div>
        </div>
    </body>
</html>