<!DOCTYPE html>
<html>
    <body>
        <form method="post" action="/virtualtest2">
            <label for="title">title</label>
            <input id="title" name="title" value="">
            <br>
            <label for="body">body</label>
            <input id="body" name="body" value="">
            <br>
            <label for="password">Password</label>
            <input id="password" name="password" value="">
            <br>
            <label for="currentpassword">currentpassword</label>
            <input id="currentpassword" name="currentpassword" value="">
            <br>
            <label for="passwordConfirmation">passwordconfirmation</label>
            <input id="passwordConfirmation" name="passwordConfirmation" value=""> 
            <br>
            <button class="btn btn-primary" type="submit">submit</button>
        </form>
    </body>
</html>